/*.clip-path {

}

.overlay-2, .overlay-1 {

}*/

.image-area {
    width: 80vw;
    text-align: center;
}
.viewbox {
    width: 90vw;
    height: 80vh;
    margin: 0 5vw 0 5vw;
    padding: 10px;
    text-align: center;
}

.viewbox-container {
    width: 100vw;
    text-align: center;
}

.adjust-controlers {
    width: 90%;
    bottom: 50px;
    position: absolute;
}

.text-input {
    width: 25vw;
    height: 30px;
    margin: 20px 0px;
}

.imgbtn {
    width: 100px;
    height: 35px;
    margin: 20px 5px;
}


.mask {
    -webkit-mask-image: url("../../assets/images/the-force-alpha.png");
    mask-image: url("../../assets/images/the-force-alpha.png");
    -webkit-mask-size: auto 250px;
    mask-size: auto 250px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    //margin: 0 5.7%;
}

.div-test {
    width: 500px;
    height: 500px;
    background: rgb(185, 55, 55);
}

#image-top, #shadow {
    height: 250px;
    width: auto;
    position: absolute;
}

#image-top { z-index: 4; }

#shadow { z-index: 3; }

#gradient-overlay, #gradient-overlay-2 {
    z-index: 6;
    width: 300px;
    height: 250px;
    margin-top: -0px;
    position: absolute;
    right: 40vw;
    left: 40vw;
    //background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgb(212, 37, 37) 10%, rgb(255, 255, 255) 50%, rgba(0,0,0,0) 100%);
}

#range-x, #range-y { width: 50vw; }