<!--Start top section. Title and description.-->
<div>
    <h1>Entourage Designer - Demo</h1>
    <p>Initial proof of concept for the proyect</p>
</div>

<!--Start the container for the viewbox-->
<div class="viewbox-container">
    <div class="viewbox">
        <!--Here goes the canvas and all the other good stuf-->
        <div class="image-area" id="image-area">

                <figure class="clip-path">
                   <figure class="overlay-2">
                     <figure class="overlay-1">
                       <img id="image-top" src="https://i.ya-webdesign.com/images/sad-girl-png-6.png">
                       <img id="image" src="https://i.ya-webdesign.com/images/sad-girl-png-6.png">
                     </figure>
                   </figure>
                </figure>

            <div id="text-area"><span id="text-1"></span></div>    
         </div>

         <!--Here the controlers and scrolls-->
         <div class="adjust-controlers">
             Lightsource X:<br>
             <input type="range" id="range-x" class="sliders" min="0" max="100">

             <br><br>

             Lightsource Y: {{rangex}}<br>
             <input type="range" id="range-y" class="sliders" min="0" max="100" ([ngModule])="rangex">
         </div>
    </div>
</div>

