/*.clip-path {

}

.overlay-2, .overlay-1 {

}*/

.adjust-controlers {
    width: 90%;
    bottom: 10px;
    position: absolute;
}

#image-top, #shadow {
    height: 250px;
    width: auto;
    position: absolute;
}

#image-top {
    z-index: 4;
}

#shadow {
    //This makes it look like a shadow: 
    //  transform: skewX(45deg) translateX(-125px) scaleY(0.3) translateY(270px);
    //  The function: (Height*tan(angle))/2 = translateX
    transform: skewX(20deg) translateX(-45px);
    z-index: 3;
}

#range-x, #range-y {
    width: 40vw;
}