/* You can add global styles to this file, and also import other style files */
body, html {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    color: #555555;
    overflow-x: hidden;
    overflow-y: hidden;
    outline: 0;
}

input {
    outline: 0;
}